@using System.Security.Claims
@{
    var roles = User.FindFirstValue(ClaimTypes.Role);
}

<div class="card text-center">
    <div class="card-header">
        Welcome
    </div>
    <div class="card-body">
        @if (roles == "Admin")
        {
            <a asp-action="AddFingerPrint" 
               asp-controller="Fingerprint" 
               class="btn btn-danger">
                    <i class="fa-solid fa-fingerprint"></i> Add fingerprint
            </a>
        }
        else if (roles == "Checker")
        {
            <a asp-action="CheckRoom"
               asp-controller="Fingerprint" 
               class="btn btn-danger">
                    <i class="fa-solid fa-check-to-slot"></i> Check Rooms
            </a>
        }
    </div>
    <div class="card-footer text-muted">
        <a asp-action="LogoutUsingDevice" asp-controller="Login" class="btn btn-secondary"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
    </div>
</div>
    