html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100vh; /* full height */
    width: 100px; /* adjust sidebar width */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d83128 !important; /* dark background */
    padding-top: 1rem;
}

    .sidebar .nav-link {
        color: #ddd;
    }

        .sidebar .nav-link.active {
            background-color: #a4251e !important;
            color: #fff;
        }

.content {
    padding: 20px;
}

/* On medium screens and up (desktop/tablet) */
@media (min-width: 768px) {
    .sidebar + .content {
        margin-left: 110px; /* same as sidebar width */
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 0px;
    }

        .sidebar + .content {
            margin-left: 0px;
        }
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #b0b0b0 0%, #d3d3d3 30%, #ffffff 70%, #ffffff 100%);
}

.card {
    position: relative;
    border-radius: 25px !important
}
.card-body, .card{
    border-radius: 25px;
    padding: 25px;
}
.card-body, .card-header, .card {
    background-color: #e6e4d4;
}

.card {
    box-shadow: 0 15px 25px -5px rgba(0,0,0,0.2) !important;
    border: none;
}

.accordion-button, .accordion-body, .page-item, .pagination, .form-check-input {
    background-color: #dcdacb !important;
}

.form-select, .form-control {
    background-color: #ccc9ba !important;
}