@model List<classroom_monitoring_system.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The site is still on development</p>
    <img src="https://www.demar.eel.usp.br/assets/images/clipart/en-construction.gif" />
</div>